@using StudentCourses.Web.Models.Home
@model HomeViewModel

@{
	ViewBag.Title = "Manage Courses";
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-md-4">
		<h3>Registered Courses</h3>
		<table cellpadding="5">
			<thead>
				<tr>
					<td width="150">Course</td>
					<td width="200">Description</td>
					<td width="150"></td>
				</tr>
			</thead>
			<tbody>
				@{
				foreach (var course in Model.RegisteredCourses)
				{
				<tr>
					<td>@course.Title</td>
					<td>@course.Description</td>
					<td>
						<a href='@Url.Action("EditCourse", "Home", new { id = course.Id })'>Edit</a>
						<a href="@Url.Action("RemoveCourse", "Home", new { id = course.Id })">Unregister</a>
					</td>
				</tr>
			}
				}
			</tbody>
		</table>

	</div>
	<div class="col-md-4">
		<h3>All Courses</h3>
		<table cellpadding="5">
			<thead>
				<tr>
					<td width="150">Course</td>
					<td width="200">Description</td>
					<td width="200"></td>
				</tr>
			</thead>
			<tbody>
				@{
				foreach (var course in Model.AllCourses)
				{
					<tr>
						<td>@course.Title</td>
						<td>@course.Description</td>
						<td>
							<a href='@Url.Action("RegisterCourse", "Home", new { id = course.Id })'>Register</a>
							<a href='@Url.Action("EditCourse", "Home", new { id = course.Id })'>Edit</a>
						</td>
					</tr>
			}
				}
			</tbody>
		</table>
	</div>
</div>